<!-- mention the selector in below data-sticky-height-elems attribute that you add in the sticky content element -->
<div data-sticky-height-elems=".product-info-wrapper">
    <sticky-scroll-direction data-min-sticky-size="md">
        <!-- you sticky content goes here
            For Example:
            <div class="product-info-wrapper section--info"></div>
        -->
    </sticky-scroll-direction>
</div>